build/*
.vscode
CMakeLists.txt.user
100.dat
.qtcreator/config/*
.qtcreator/config/QtCreator.db
.qtcreator/config/QtCreator.ini
.qtcreator/config/qtcreator/cmaketools.xml
.qtcreator/config/qtcreator/debuggers.xml
.qtcreator/config/qtcreator/devices.xml
.qtcreator/config/qtcreator/profiles.xml
.qtcreator/config/qtcreator/qtversion.xml
.qtcreator/config/qtcreator/toolchains.xml
.qtcreator/config/qtcreator/mimetypes/modifiedmimetypes.xml
.qtcreator/config/qtcreator/qnx/qnxconfigurations.xml
